{% extends 'base.html' %}
{% load extend_fun %}
{% load static %}
{% block ads %}

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    {% get_all_ads as ads %}
    <ol class="carousel-indicators">

        {% for ad in ads %}
        {% if forloop.counter == 1 %}
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        {% else %}
        <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter|add:-1 }}"></li>
        {% endif %}
        {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

        {% for ad in ads %}
        {% if forloop.counter == 1 %}
        <div class="item active">
            <a href="{% url 'article:addimg' %}"><img src="/static/media/{{ ad.img }}" alt="..."></a>
            <div class="carousel-caption">
                {{ad.desc}}
            </div>
        </div>
        {% else %}
        <div class="item">
            <a href="{% url 'article:addimg' %}"><img src="/static/media/{{ ad.img }}" alt="..."></a>
            <div class="carousel-caption">
                {{ad.desc}}
            </div>
        </div>
        {% endif %}

        {% endfor %}
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

{% endblock %}